<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.ab.base">
  <!--网络-->
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <!--设备信息读取权限-->
  <uses-permission
      android:name="android.permission.READ_PRIVILEGED_PHONE_STATE"
      tools:ignore="ProtectedPermissions"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <!--文件存储-->
  <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <uses-permission
      android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
      tools:ignore="ScopedStorage"/>
  <!--
   network_security_config 是7.0以上抓包需要的
   android:usesCleartextTraffic 是9.0以上WebView访问H5需要的
   maxAspectRatio和resizeableActivity是刘海屏适配需要的
   resizeableActivity:false表示不支持分屏模式，true表示支持分屏模式
  -->
  <application
      android:maxAspectRatio="2.4"
      android:networkSecurityConfig="@xml/network_security_config"
      android:resizeableActivity="true"
      android:usesCleartextTraffic="true"
      tools:targetApi="o">
    <!--https://github.com/getActivity/XXPermissions 表示当前项目已经适配了分区存储特性 -->
    <meta-data
      android:name="ScopedStorage"
      android:value="true" />
    <!--###################今日头条适配###################-->
    <meta-data
        android:name="design_width_in_dp"
        android:value="360"/>
    <meta-data
        android:name="design_height_in_dp"
        android:value="640"/>
    <!--###################刘海屏适配###################-->
    <!--刘海屏适配-->
    <meta-data
        android:name="android.max_aspect"
        android:value="2.4"/>
    <!--适配华为（huawei）刘海屏-->
    <meta-data
        android:name="android.notch_support"
        android:value="true"/>
    <!--适配小米（xiaomi）刘海屏-->
    <meta-data
        android:name="notch.config"
        android:value="portrait|landscape"/>
    <!--vivo和oppo没有找到相关配置信息-->
  </application>
</manifest>

