<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="cc.abase.demo">
  <!--JobIntentService处理了亮屏/锁屏，因此要此权限-->
  <uses-permission android:name="android.permission.WAKE_LOCK"/>
  <!--通知栏收起权限-->
  <uses-permission android:name="android.permission.EXPAND_STATUS_BAR"/>
  <!--APP安装权限-->
  <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES"/>
  <!--bugly-->
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
  <!--地理位置权限-->
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION"/>
  <!--震动-->
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission
      android:name="android.permission.READ_LOGS"
      tools:ignore="ProtectedPermissions"/>

  <application
      android:name=".app.MyApplication"
      android:allowBackup="true"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:requestLegacyExternalStorage="true"
      android:supportsRtl="true"
      android:theme="@style/AppTheme"
      tools:ignore="AllowBackup,GoogleAppIndexingWarning">
    <!--启动页-->
    <activity
        android:name=".component.splash.SplashActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:theme="@style/SplashTheme"
        android:windowSoftInputMode="adjustPan|stateHidden">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <!--引导页-->
    <activity
        android:name=".component.splash.GuideActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--登录页-->
    <activity
        android:name=".component.login.LoginActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--注册页-->
    <activity
        android:name=".component.login.RegisterActivity"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--主页-->
    <activity
        android:name=".component.main.MainActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTask"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--web-->
    <activity
        android:name=".component.web.WebActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--聊天页面模拟-->
    <activity
        android:name=".component.chat.ChatActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--视频封面获取和压缩-->
    <activity
        android:name=".component.video.VideoCompressActivity"
        android:configChanges="orientation|keyboardHidden|screenSize"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--视频详情页-->
    <activity
        android:name=".component.video.VideoDetailActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--Sticky效果页面-->
    <activity
        android:name=".component.sticky.StickyActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--学生成绩单效果-->
    <activity
        android:name=".component.sticky.StickyActivity2"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--item拖拽效果-->
    <activity
        android:name=".component.drag.DragActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--@和#显示效果-->
    <activity
        android:name=".component.spedit.SpeditActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--Coordinator嵌套刷新效果-->
    <activity
        android:name=".component.coordinator.CoordinatorActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--MultiType展开和收缩效果-->
    <activity
        android:name=".component.expand.ExpandActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--列表中播放-->
    <activity
        android:name=".component.playlist.PlayListActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--分页播放-->
    <activity
        android:name=".component.playlist.VerticalPagerActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--分割线-->
    <activity
        android:name=".component.decoration.DecorationActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--设置页面-->
    <activity
        android:name=".component.set.SettingActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--Flexbox-->
    <activity
        android:name=".component.flexbox.FlexboxActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--跑马灯效果-->
    <activity
        android:name=".component.marquee.MarqueeActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--竖向ViewPager-->
    <activity
        android:name=".component.recyclerpage.RecyclerPagerActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--高斯模糊-->
    <activity
        android:name=".component.blur.BlurActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--Zxing扫码-->
    <activity
        android:name=".component.zxing.ZxingActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--手势解锁-->
    <activity
        android:name=".component.locker.PatternLockerActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--统计相关-->
    <activity
        android:name=".component.count.CountActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!--测试专用页面-->
    <activity
        android:name=".component.test.TestActivity"
        android:configChanges="screenLayout|orientation"
        android:launchMode="singleTop"
        android:screenOrientation="portrait"
        android:windowSoftInputMode="adjustPan|stateHidden"/>
    <!-- APK更新 -->
    <service
        android:name=".component.update.CcUpdateService"
        android:exported="true"
        android:permission="android.permission.BIND_JOB_SERVICE"/>
    <!-- 点击通知栏的操作 -->
    <receiver android:name=".component.update.NotificationBroadcastReceiver"/>
    <!--https://blog.csdn.net/qq_40909351/article/details/106726204-->
    <provider
        android:name="androidx.startup.InitializationProvider"
        android:authorities="${applicationId}.androidx-startup"
        android:exported="false"
        tools:node="merge">
      <meta-data
          android:name="cc.abase.demo.startup.AppLastInit"
          android:value="androidx.startup"/>
    </provider>
  </application>

</manifest>